$bgColor:#564AFF;
$displayMenu : block;

@media screen and (max-width: 900px){
    //transforme le menu en drop down menu pour interface mobile 
    nav{
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    
    .content-drop-down{
      padding: 10px;
    }
    .dropdown-content {
      width: max-content;
      display: var(--displayMenu);
      position: absolute;
      background-color: #f1f1f1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .active{
      background-color: var(--bgColor);
     }
    }
}

@media screen and (min-width: 901px){
nav{
  display: flex;
  flex-direction: column;
  background-color: $bgColor;
  padding: 30px;
  font-weight: bold;
  font-size: large;

  .content-drop-down{
    display:none;
  }
  button{
    text-decoration: none;
    background-color: $bgColor;
    border: 0;
    color:white;
    font-size: large;
   
  }
    .title{
        margin: 50px;
        display: flex;
        flex-direction: row;
    }
    ul{
        padding-left:5px;
        border-bottom: 2px solid gray ;
        border-left: 5px none ;
        margin-bottom: 10px;
        
    
    li {
      list-style:none;
      margin-top: 20px;
      margin-bottom: 20px;
      
      .active{
        display:list-item;
        list-style:disc;
       }
  
    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: #ffffff;
        margin-top : 5px;
        margin-bottom: 5px;

      }

}
}
}
}