@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

// CSS Reset 


html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body{
  line-height: 1;
}



blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}



input{
  border-radius: 0;
}

// fin du CSS Reset

$bgColor:#564AFF;  
$font : 'Roboto', sans-serif;
.App {
  font-family: $font;
  nav{
    color: white;
    background-color: $bgColor;
    overflow-y: visible;

  }
}

@media screen and (max-width: 900px) {
  .App {
    display : flex;
    flex-direction:column;  
    nav{
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
  }
}
@media screen and ( min-width : 901px){
  .App {
    display : flex;
    flex-direction:row;
    nav{
      background-color: $bgColor;
    }
    .display{
      margin-left: 20vw;
      padding: 10vw;;
    }
  }
}







